<!DOCTYPE html>
<html>

<head>
    
    <title>MaduraiExploreX🚩 Visit Alagar Kovil</title>

    <link rel="icon" href="{{ url_for('static', filename='images/r.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>

<nav class="nav-bg">

<a href="{{ url_for('home') }}">
    <h2>MaduraiExploreX🚩</h2>
</a>

<ul>

<li><a href="{{ url_for('home') }}">Home</a></li>

<li><a href="{{ url_for('places') }}">Places</a></li>

<li><a href="{{ url_for('about') }}">About us</a></li>

<li><a href="{{ url_for('contact') }}">Contact</a></li>

<li><a href="{{ url_for('login') }}">Admin</a></li>

</ul>

</nav>

</header>


<section class="yellow">

<h1>Alagar Kovil</h1>

</section>


<section class="car">

<div class="card">

<img src="{{ url_for('static', filename='images/alagar.webp') }}" class="place-img">

<h1>Alagar Kovil</h1>

<div class="info">

<p>📍 Alagar Kovil Main Rd, Alagar Nagar, Ramavarma Nagar, K.Pudur, Tamil Nadu 625301</p>

<p>🕢 Timings: 6:00 AM - 7:30 PM</p>

<p>🌤 Weather: Sunny, 33°C</p>

<p>
Alagar Kovil is a village in Madurai district in Tamil Nadu. The village is centered around Kallalagar Temple. Constructed in traditional Tamil architecture, the temple is glorified in the Nalayira Divya Prabandham and is one of the important pilgrimage sites in South India.
</p>

</div>

<h2>Location</h2>

<iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.295600183258!2d78.2104799748078!3d10.074847590034473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00bf39e5cfc2e5%3A0x8dd0f3238544b80e!2sArulmigu%20Kallazhagar%20Sundararaja%20Perumal%20Kovil!5e0!3m2!1sen!2sin!4v1782134704235!5m2!1sen!2sin"
width="600"
height="450"
style="border:0;"
allowfullscreen=""
loading="lazy"
referrerpolicy="no-referrer-when-downgrade">
</iframe>

<br><br>

<a href="https://www.youtube.com/watch?v=QrSfuD-DzGg" target="_blank">
<button>▶ Temple Tour</button>
</a>

<a href="https://www.youtube.com/watch?v=_fbqJ3AUL1U" target="_blank">
<button>▶ History Video</button>
</a>

</div>

</section>


<section class="shoes">

<div class="shoe">
<h6>Call Us</h6>
<p>📞 +91 8148508006</p>
</div>

<div class="shoe">
<h6>Email Us</h6>
<p>📧 mail@explorex.in</p>
</div>

</section>


<section class="finish">

<div class="ends">

<div class="end1">
<p>Copyright © 2026 by ExploreX✈️. All Rights Reserved.</p>
</div>

<div class="end2">
<p>Privacy Policy | Terms & Conditions | Cancellation & Refund Policy</p>
</div>

</div>

</section>

</body>
</html>