<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MaduraiExploreX🚩</title>

<link rel="icon" href="{{ url_for('static', filename='images/r.jpg') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<header>

<nav class="nav-bg">

<a href="{{ url_for('home') }}">
<h2>MaduraiExploreX🚩</h2>
</a>

<ul>

<li><a href="{{ url_for('home') }}">Home</a></li>

<li><a href="{{ url_for('places') }}">Places</a></li>

<li><a href="{{ url_for('about') }}">About us</a></li>

<li><a href="{{ url_for('contact') }}">Contact</a></li>

<li><a href="{{ url_for('login') }}">Admin</a></li>

</ul>

</nav>

</header>


<section id="home" class="hero">

<h1>Explore Beautiful Destinations</h1>

<p>Travel • Discover • Enjoy</p>

<a href="{{ url_for('places') }}">
<button>Start Journey</button>
</a>

</section>

<section id="about" class="about">

<h1>Our Motto</h1>

<p>
Discover amazing places around madurai,
experience nature, culture and unforgettable adventures.
</p>


<div class="sion">

<div class="mission">

<h1>Our Mission</h1>

<img src="{{ url_for('static', filename='images/mission.jpg') }}">

<p>
MaduraiExploreX is committed to providing users with a seamless and engaging travel experience by offering destination details, travel insights, and personalized exploration features. Our mission is to make trip planning easier, faster, and more enjoyable for every traveler. We strive to turn every journey into an adventure worth remembering.
</p>

</div>


<div class="vision">

<h1>Our Vision</h1>

<img src="{{ url_for('static', filename='images/vision.png') }}">

<p>
To make MaduraiExploreX the ultimate travel companion that inspires people to discover the beauty of the world with ease and excitement. We envision a platform where every traveler can explore destinations, create memories, and experience unforgettable journeys. Through innovation and simplicity, ExploreX aims to connect people with amazing places.
</p>

</div>

</div>

<h2>MaduraiExploreX🏴󠁧󠁢󠁳󠁣󠁴󠁿 is to explore like a bird 🕊️</h2>


</section>


<section class="button">

<p>For further queries:</p>

<a href="{{ url_for('contact') }}">
<button>Contact Us</button>
</a>

</section>


<section class="shoes">

<div class="shoe">

<h6>Call Us</h6>

<p>📞 +91 8148508006</p>

</div>

<div class="shoe">

<h6>Email Us</h6>

<p>📧 mail@explorex.in</p>

</div>

</section>


<section class="finish">

<div class="ends">

<div class="end1">

<p>Copyright © 2026 by ExploreX✈️. All Rights Reserved.</p>

</div>

<div class="end2">

<p>Privacy Policy | Terms & Conditions | Cancellation & Refund Policy</p>

</div>

</div>

</section>

</body>
</html>