<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaduraiExploreX🚩 Visit Keeladi museum</title>

    <link rel="icon" href="{{ url_for('static', filename='images/r.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<!-- NAVBAR -->
<header>
    <nav class="nav-bg">

        <a href="{{ url_for('home') }}">
            <h2>MaduraiExploreX🚩</h2>
        </a>

        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('places') }}">Places</a></li>
            <li><a href="{{ url_for('about') }}">About us</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('login') }}">Admin</a></li>
        </ul>

    </nav>
</header>

<!-- TITLE -->
<section class="yellow">
    <h1>Keeladi Museum</h1>
</section>

<!-- MAIN CONTENT -->
<section class="car">

    <div class="card">

        <img src="{{ url_for('static', filename='images/keeladi.jpg') }}" class="place-img">

        <h1>Keeladi Museum</h1>

        <div class="info">

            <p>📍 excavation Site, Keeladi, Tamil Nadu</p>

            <p>🕢 Timings: 8:00 AM - 6:00 PM</p>

            <p>🌤 Weather: Sunny, 33°C</p>

            <p>
                Modern look for a space showcasing ancient Tamil artifacts, such as pottery and jewels, from the Keeladi excavation.
            </p>

        </div>

        <h2>Location</h2>

       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.842333398199!2d78.18244267502934!3d9.863591990234985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00db2035594243%3A0xff1c130600ee67cb!2sKeeladi%20Museum!5e0!3m2!1sen!2sin!4v1782464341702!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe>
        <br><br>

        <a href="https://share.google/tUzUptNuLAwMIBA1K" target="_blank">
            <button>▶ Watch Video</button>
        </a>


    </div>

</section>

<!-- FOOTER -->
<section class="shoes">

    <div class="shoe">
        <h6>Call Us</h6>
        <p>📞 +91 8148508006</p>
    </div>

    <div class="shoe">
        <h6>Email Us</h6>
        <p>📧 mail@explorex.in</p>
    </div>

</section>

<section class="finish">

    <div class="ends">

        <div class="end1">
            <p>Copyright © 2026 by ExploreX✈️. All Rights Reserved.</p>
        </div>

        <div class="end2">
            <p>Privacy Policy | Terms & Conditions | Cancellation & Refund Policy</p>
        </div>

    </div>

</section>

</body>
</html>
