<!DOCTYPE html>
<html>

<head>
    <title>MaduraiExploreX🚩 Visit Mariamman Temple</title>

    <link rel="icon" href="{{ url_for('static', filename='images/r.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>  
<!-- NAVBAR -->  
<header>
    <nav class="nav-bg">
        <a href="{{ url_for('home') }}">
            <h2>MaduraiExploreX🚩</h2>
        </a>

        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('places') }}">Places</a></li>
            <li><a href="{{ url_for('about') }}">About us</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('admin') }}">Admin</a></li>
        </ul>

    </nav>
</header>

<!-- TITLE -->
<section class="yellow">
    <h1>Teppakulam Mariamman Temple</h1>
</section>

<!-- MAIN CONTENT -->
<section class="car">

    <div class="card">

        <img src="{{ url_for('static', filename='images/mari5.jpg') }}" class="place-img">

        <h1>Teppakulam Mariamman Temple</h1>

        <div class="info">

            <p>📍 W46X+57G, Mariamman Nagar, Madurai, Tamil Nadu 625009</p>

            <p>🕢 Open 24 Hours</p>

            <p>🌤 Weather: Sunny, 33°C</p>

            <p>
                The Vandiyur Mariamman Teppakulam is a historic temple tank near Madurai,
                dedicated to Goddess Mariamman. It is famous for its annual float festival.
            </p>

        </div>

        <h2>Location</h2>

        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.2826580295323!2d78.14540322502994!3d9.910400140190514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00c506f7b7faa3%3A0x296229b5f13da1d4!2sVandiyur%20Mariamman%20Teppakulam!5e0!3m2!1sen!2sin!4v1782137442487!5m2!1sen!2sin">
        </iframe>

        <br><br>

        <a href="https://www.youtube.com/watch?v=ykiQsYvtSwY" target="_blank">
            <button>▶ Temple Tour</button>
        </a>

        <a href="https://www.youtube.com/watch?v=ykiQsYvtSwY" target="_blank">
            <button>▶ History Video</button>
        </a>

    </div>

</section>

<!-- FOOTER CONTACT -->
<section class="shoes">

    <div class="shoe">
        <h6>Call Us</h6>
        <p>📞 +91 8148508006</p>
    </div>

    <div class="shoe">
        <h6>Email Us</h6>
        <p>📧 mail@explorex.in</p>
    </div>

</section>

<!-- FOOTER -->
<section class="finish">

    <div class="ends">

        <div class="end1">
            <p>Copyright © 2026 by ExploreX✈️. All Rights Reserved.</p>
        </div>

        <div class="end2">
            <p>Privacy Policy | Terms & Conditions | Cancellation & Refund Policy</p>
        </div>

    </div>

</section>

</body>
</html>