<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaduraiExploreX🚩 Visit St Mary's cathedral</title>

    <link rel="icon" href="{{ url_for('static', filename='images/r.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>

<nav class="nav-bg">

<a href="{{ url_for('home') }}">
    <h2>MaduraiExploreX🚩</h2>
</a>

<ul>

<li><a href="{{ url_for('home') }}">Home</a></li>

<li><a href="{{ url_for('places') }}">Places</a></li>

<li><a href="{{ url_for('about') }}">About us</a></li>

<li><a href="{{ url_for('contact') }}">Contact</a></li>

<li><a href="{{ url_for('login') }}">Admin</a></li>

</ul>

</nav>

</header>


<section class="yellow">

<h1>St Mary's Cathedral</h1>

</section>


<section class="car">

<div class="card">

<img src="{{ url_for('static', filename='images/mary6.webp') }}" class="place-img">

<h1>St Mary's Cathedral</h1>

<div class="info">

<p>📍  E Veli St, Madurai, Tamil Nadu 625001</p>

<p>🕢 Timings: 6:00 AM - 8:00 PM</p>

<p>🌤 Weather: Sunny, 33°C</p>

<p>
St. Mary's Cathedral Shrine or Church of Our Lady of Dolours is a Roman Catholic church situated in Madurai, Tamil Nadu in India. This church attained the status of a Cathedral in the year 1969. It is built with two bell towers each 42 m high
</p>

</div>

<h2>Location</h2>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.248349589718!2d78.12307967503001!3d9.913262390187777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00c423e48f6cbf%3A0x31adac7f092aa579!2sSt.%20Mary&#39;s%20Cathedral%20Shrine!5e0!3m2!1sen!2sin!4v1782469254616!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe>

<br><br>

<a href="https://share.google/wN6PV4pR6NNsV8rmI" target="_blank">
<button>▶ Watch Video</button>
</a>


</div>

</section>


<section class="shoes">

<div class="shoe">
<h6>Call Us</h6>
<p>📞 +91 8148508006</p>
</div>

<div class="shoe">
<h6>Email Us</h6>
<p>📧 mail@explorex.in</p>
</div>

</section>


<section class="finish">

<div class="ends">

<div class="end1">
<p>Copyright © 2026 by ExploreX✈️. All Rights Reserved.</p>
</div>

<div class="end2">
<p>Privacy Policy | Terms & Conditions | Cancellation & Refund Policy</p>
</div>

</div>

</section>

</body>
</html>