<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaduraiExploreX🚩 Visit Murugan Idli Shop</title>

    <link rel="icon" href="{{ url_for('static', filename='images/r.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<!-- NAVBAR -->
<header>
    <nav class="nav-bg">

        <a href="{{ url_for('home') }}">
            <h2>MaduraiExploreX🚩</h2>
        </a>

        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('places') }}">Places</a></li>
            <li><a href="{{ url_for('about') }}">About us</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('login') }}">Admin</a></li>
        </ul>

    </nav>
</header>

<!-- TITLE -->
<section class="yellow">
    <h1>Murugan Idli Shop</h1>
</section>

<!-- MAIN CONTENT -->
<section class="car">

    <div class="card">

        <img src="{{ url_for('static', filename='images/murugan5.jpg') }}" class="place-img">

        <h1>Murugan Idli Shop</h1>

        <div class="info">

            <p>📍 196, W Masi St, Periyar, Madurai Main, Madurai, Tamil Nadu 625001</p>

            <p>🕢 Timings: 7:00 AM - 11:00 PM</p>

            <p>🌤 Weather: Sunny, 33°C</p>

            <p>
Modestly appointed setting for traditional Southern Indian veggie dishes like idli, dosa & pongal.</p>
        </div>

        <h2>Location</h2>
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.216837841134!2d78.11561449999999!3d9.915890599999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00c58171d01c83%3A0x9ff830d945ca631e!2sMurugan%20Idli%20Shop!5e0!3m2!1sen!2sin!4v1782481090280!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe>
        <br><br>

        <a href="https://share.google/64OcjPhHE1I7cFVPm" target="_blank">
            <button>▶ Watch Video</button>
        </a>
    </div>

</section>

<!-- FOOTER -->
<section class="shoes">

    <div class="shoe">
        <h6>Call Us</h6>
        <p>📞 +91 8148508006</p>
    </div>

    <div class="shoe">
        <h6>Email Us</h6>
        <p>📧 mail@explorex.in</p>
    </div>

</section>

<section class="finish">

    <div class="ends">

        <div class="end1">
            <p>Copyright © 2026 by ExploreX✈️. All Rights Reserved.</p>
        </div>

        <div class="end2">
            <p>Privacy Policy | Terms & Conditions | Cancellation & Refund Policy</p>
        </div>

    </div>

</section>

</body>
</html>
