<!DOCTYPE html>
<html>

<head>
   
    <title>MaduraiExploreX🚩 Visit yanaimalai hill</title>

    <link rel="icon" href="{{ url_for('static', filename='images/r.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<!-- NAVBAR -->
<header>
    <nav class="nav-bg">

        <a href="{{ url_for('home') }}">
            <h2>MaduraiExploreX🚩</h2>
        </a>

        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('places') }}">Places</a></li>
            <li><a href="{{ url_for('about') }}">About us</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('login') }}">Admin</a></li>
        </ul>

    </nav>
</header>

<!-- TITLE -->
<section class="yellow">
    <h1>Yanaimalai Hills</h1>
</section>

<!-- MAIN CONTENT -->
<section class="car">

    <div class="card">

        <img src="{{ url_for('static', filename='images/yanaimalai.jpg') }}" class="place-img">

        <h1>Yanaimalai Hills</h1>

        <div class="info">

            <p>📍Narasingam Main Rd, Tamil Nadu 625019</p>

            <p>🕢 Timings: 7:00 AM - 6:00 PM</p>

            <p>🌤 Weather: Sunny, 33°C</p>

            <p>
The hill derives its name from the Tamil word yaanai, meaning "elephant", and malai, meaning "hill". The hill looks like an elephant in a sitting position.[2] The site has had this name for over 2000 years.</p>

        </div>

        <h2>Location</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d31436.32084445307!2d78.17835695825212!3d9.972167368421408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1syanaimalai%20hills%20madurai%20timings!5e0!3m2!1sen!2sin!4v1782460436071!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe>

        <a href="https://share.google/bOUOKn2wJAtg1PHiu" target="_blank">
            <button>▶ Watch Video</button>
        </a>
    </div>

</section>

<!-- FOOTER -->
<section class="shoes">

    <div class="shoe">
        <h6>Call Us</h6>
        <p>📞 +91 8148508006</p>
    </div>

    <div class="shoe">
        <h6>Email Us</h6>
        <p>📧 mail@explorex.in</p>
    </div>

</section>

<section class="finish">

    <div class="ends">

        <div class="end1">
            <p>Copyright © 2026 by ExploreX✈️. All Rights Reserved.</p>
        </div>

        <div class="end2">
            <p>Privacy Policy | Terms & Conditions | Cancellation & Refund Policy</p>
        </div>

    </div>

</section>

</body>
</html>
